<div class="d-flex bd-highlight">
  <h2 class="p-2 w-100 bd-highlight">Confirmas el cambio?</h2>
  <div class="p-2 flex-shrink-1 bd-highlight">
    <button mat-mini-fab color="primary" class="close-icon" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  <div mat-dialog-content class="container text-center">
    <mat-chip-listbox aria-label="Events" #eventList>
      <mat-chip-option color="accent" [value]="data.oldEvent">
        {{oldEvent}}
        <span *ngIf="data.newUser">{{data.oldEvent.section.name}}</span>
      </mat-chip-option>
      <mat-divider [vertical]="true"></mat-divider>

      <mat-chip-option selected [value]="data.newEvent">
        {{newEvent}}
        <span *ngIf="data.newUser"> {{data.newEvent.section.name}} </span>
      </mat-chip-option>
    </mat-chip-listbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button
    mat-button
    mat-dialog-close
    (click)="onOkClick(eventList.value)"
    cdkFocusInitial
  >
    Ok
  </button>
</mat-dialog-actions>
