<context-menu #basicMenu>
  <ng-template contextMenuItem (execute)="addEvent($event.value)">
    Añadir cita
  </ng-template>
</context-menu>

<div
  class="cal-hour-segment"
  [style.height.px]="segmentHeight"
  [class.cal-hour-start]="segment.isStart"
  [class.cal-after-hour-start]="!segment.isStart"
  [ngClass]="segment.cssClass"
  [contextMenu]="basicMenu"
  [contextMenuValue]="segment.date"
>
  <div class="cal-time" *ngIf="isTimeLabel">
    {{ segment.date | calendarDate : "weekViewHour" : locale }}
  </div>
</div>
