<context-menu #basicMenu>
  <ng-template contextMenuItem (execute)="addEvent($event.value)">
    Abrir mes
  </ng-template>
</context-menu>

<div
  class="month-cell-fill-height"
  [contextMenu]="basicMenu"
  [contextMenuValue]="day.date"
>
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
      >{{ day.badgeTotal }}</span
    >
    <span class="cal-day-number"
      >{{ day.date | calendarDate : "monthViewDayNumber" : locale }}</span
    >
  </div>
  <div class="cal-events">
    <div
      class="cal-event"
      *ngFor="let event of day.events"
      [style.backgroundColor]="event.color.primary"
      [ngClass]="event?.cssClass"
      (mouseenter)="highlightDay.emit({ event: event })"
      (mouseleave)="unhighlightDay.emit({ event: event })"
      [mwlCalendarTooltip]="
          event.title | calendarEventTitle : 'monthTooltip' : event
        "
      [tooltipPlacement]="tooltipPlacement"
      (click)="$event.stopPropagation(); eventClicked.emit({ event: event })"
    ></div>
  </div>
</div>
