:host {
}

.month-cell-fill-height {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: visible;
}

.main-container {
  min-height: 100vh;
  width: 100%;
}
