:host {
  color: #673ab7;
}

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.week-sidenav-content {
  overflow-y: hidden;
  position: initial;
}
.week-sidenav-drawer {
  z-index: 0;
  position: fixed;
  height: 100vh;
}
.mark {
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
  color: red;
}
