<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Edición de colores</mat-panel-title>
    </mat-expansion-panel-header>
    <app-kitchen-name></app-kitchen-name>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Edición de secciones </mat-panel-title>
    </mat-expansion-panel-header>
    <app-edit-sections></app-edit-sections>
  </mat-expansion-panel>
</mat-accordion>
